$font-ff-satoshi: "Satoshi", sans-serif;

$font-fs-display-1: 5rem;
$font-fs-display-2: 3rem;
$font-fs-heading-1: 2rem;
$font-fs-heading-2: 1.5rem;
$font-fs-heading-3: 1.125rem;
$font-fs-body-1: 1rem;
$font-fs-body-2: 0.875rem;
$font-fs-caption: 0.75rem;
$font-fs-small-label: 0.625rem;
$font-fs-extra-small-label: 0.5rem;

$font-fw-thin: 100;
$font-fw-extralight: 200;
$font-fw-light: 300;
$font-fw-regular: 400;
$font-fw-medium: 500;
$font-fw-semibold: 600;
$font-fw-bold: 700;
$font-fw-extrabold: 800;
$font-fw-black: 900;

$padding-app-inline: 10rem;

$text-lh-base: 1.5;
$text-lh-heading: 1.275;
