@import "../../app/scss/base.scss";
@import "../../app/scss/colors.scss";

.blockchain-gaming-container {
  padding-bottom: 0.925rem;
  padding-top: 4.25rem;
  width: 100%;

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url("/assets/about-background-overlay.png");
    background-position: center bottom;
    background-size: 100% 53.125rem;
    background-repeat: no-repeat;
  }

  .blockchain-gaming {
    margin: 0 5rem;
    margin-top: 7.1875rem;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: url("/assets/blockchain-gaming-overlay.png");
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    @media screen and (max-width: 48em) {
      margin: 0 1.875rem;
      margin-top: 7.1875rem;
    }

    @media screen and (max-width: 26.875em) {
      margin: 0 1.25rem;
      margin-top: 5.9375rem;
    }

    .blockchain-gaming-title {
      z-index: 5;
      max-width: 24ch;
      font-weight: var(--font-fw-black);

      @media screen and (max-width: 62em) {
        font-size: 2rem;
      }

      @media screen and (max-width: 33.75em) {
        font-size: 1.5rem;
      }

      .gradient-text {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .gaming-imgs-container {
      margin-top: 4.6875rem;
      column-gap: 4rem;
      row-gap: 1.5rem;

      @media screen and (max-width: 62em) {
        column-gap: 4rem;
        row-gap: 2rem;
      }

      @media screen and (max-width: 48em) {
        column-gap: 3rem;
        row-gap: 1.5rem;
      }

      @media screen and (max-width: 33.75em) {
        column-gap: 2rem;
        row-gap: 1rem;
      }

      @media screen and (max-width: 33.75em) {
        margin-top: 1.5625rem;
      }

      .gaming-imgs {
        object-fit: contain;
        width: 100%;
        height: 100%;
        max-width: 12rem;
        max-height: 6.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 62em) {
          max-width: 10rem;
          max-height: 5.5rem;
        }

        @media screen and (max-width: 48em) {
          max-width: 8rem;
          max-height: 4.5rem;
        }

        @media screen and (max-width: 33.75em) {
          max-width: 6rem;
          max-height: 3.5rem;
        }
      }
    }
  }
}
